<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="Setono\SyliusAlgoliaPlugin\DataMapper\DataMapperInterface"
                 alias="setono_sylius_algolia.data_mapper.composite"/>

        <service id="setono_sylius_algolia.data_mapper.composite"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\CompositeDataMapper"/>

        <service id="setono_sylius_algolia.data_mapper.product"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\Product\ProductDataMapper">
            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.url"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\UrlDataMapper">
            <argument type="service" id="setono_sylius_algolia.url_generator.composite"/>

            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.image_urls"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\ImageUrlsDataMapper">
            <argument type="service" id="liip_imagine.cache.manager"/>

            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.product.price"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\Product\PriceDataMapper">
            <argument type="service" id="sylius.repository.channel"/>

            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.product.taxons"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\Product\TaxonsDataMapper">
            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.product.taxon_codes"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\Product\TaxonCodesDataMapper">
            <argument>%sylius_shop.product_grid.include_all_descendants%</argument>

            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.object_id"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\ObjectIdDataMapper">
            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.id"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\IdDataMapper">
            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_algolia.data_mapper.resource_name"
                 class="Setono\SyliusAlgoliaPlugin\DataMapper\ResourceNameDataMapper">
            <argument type="service" id="setono_sylius_algolia.config.indexable_resource_collection"/>

            <tag name="setono_sylius_algolia.data_mapper" priority="100"/>
        </service>
    </services>
</container>
