{% extends "@SyliusShop/layout.html.twig" %}

{% block content %}
    {{ sylius_template_event('sylius.shop.taxon.header', {'taxon': taxon}) }}

    <div id="price-slider"></div>
    <div id="hits"></div>
{% endblock %}
