{% extends "@SyliusShop/layout.html.twig" %}

{% block content %}
    {{ sylius_template_event('sylius.shop.taxon.header', {'taxon': taxon}) }}

    <div id="sort-by" data-value="{{ sortBy|json_encode }}"></div>
    <div id="on-sale"></div>
    <div id="price-slider"></div>
    <div id="hits"></div>
    <div id="pagination"></div>
{% endblock %}
